.banner__imagen{
    background: url("../../img/banner.jpg") no-repeat center cover;
    width: 100%;
    height: calc(100vh - 72px);
}
@media screen and (max-width: 768px) {
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}